
.calendar {
  .display-flex();
  font-size: 15px;
  padding- bottom: 25px;
  margin: 0px 60px;
  .flex-wrap(wrap);

  .gray {
    color: @df-middle-gray;
  }

  .month-container {
    .flex(0 0 25%);
    padding: 10px;

    @media @tablet {
      .flex(0 0 50%);
    }
  }

  .page {
    .display-flex();
    .flex-wrap(wrap);
    width: 100%;
    // padding: 15px;

    .day {
      .display-flex();
      .justify-content(center);
      .align-items(center);
      .flex(0 0 100% / 7);
      position: relative;

      a {
        color: @df-charcoal;
        position: relative;
        padding: 8px;

        .digit {
          z-index: 999;
          position: relative;
        }
      }

      &.goal {
      a {
        color: @st-green;
        font-weight: bold;

        &:hover {
          background-color: @df-light-gray;
        }
      }
      }
    }
  }

  font-family: @df-sans;


  @media @mobile {
    display: block;
  }
}

.month {
  margin: 10px 0px;
  font-size: 16px;
  text-transform: uppercase;
}