// color variables
@broken: @broken-color;
@developing: @developing-color;
@kept: @kept-color;
@none: @no-color;
@stuck: @stuck-color;

//label styles
.bar-label {
  font-family: @df-sans;
  width: 100%;
  max-width: 700px;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  margin: auto;
  color: @df-middle-gray;
  padding-bottom: 10px;
}

// chart styles
.bar-container {
  width: 100%;
  height: 38px;
  background: @none;
  max-width: 700px;
  margin: auto;

  .broken { background: @broken }
  .developing { background: @developing }
  .kept { background: @kept }
  .stymied { background-color: @stuck }

  .completed {
    height: 100%;
  }

  .bar {
    float: left;
    height:100%;
    box-sizing: border-box;
    float: left;
  }

}

.legend {
  width: 100%;
}

.legend-key {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: 5px;
  margin: auto;
  max-width: 700px;

  .status-legend {
    list-style-type: none;
    font-family: @df-sans;
  }

  .status-title {
    font-size: 15px;
    padding: 2px 15px 2px 15px; // top right bottom left
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
  }

  .quantity {
    font-size: 35px;
    font-family: @df-serif;
    text-align: center;
  }

  .kept {
    .status-title {
      background-color: @kept;
    }
  }

  .none {
    order: 1;

    .status-title {
      background-color: @none;
      color: @df-charcoal;
    }
  }

  .broken {
    .status-title {
      background-color: @broken;
    }
  }

  .developing {
    .status-title {
      background-color: @developing;
      color: @df-charcoal;
    }
  }

  .stymied {
    .status-title {
      background-color: @stuck-color;
      color: @df-charcoal;
    }
  }
}

// // line with days remaining below bar
// .remaining {
//   font-family: @df-sans;
//   font-size: 16px;
//   color: @df-middle-gray;
//   text-transform: uppercase;
//   text-align: right;
//   max-width: 700px;
//   margin: auto;
//   width: 100%;

//   .days-remaining {
//     font-weight: bold;
//   }
// }

