@import "seattletimes";

@import "calendars";

@import "progress-bar";

.large {
  font-family: @df-serif;
  font-size: 30px;
  line-height: 30px;
  color: @df-charcoal;
  text-align: center;

  @media @mobile {
    font-size: 20px;
    line-height: 25px;
  }
}


.title {
  text-align: center;

  img {
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
  }

  .headline {
    font-family: @df-serif;
    font-size: 80px;
    line-height: 80px;
    color: @df-charcoal;
    text-align: center;
    margin-bottom: 30px;

    @media @tablet {
      font-size: 55px;
      line-height: 60px;
    }

    @media @mobile {
      font-size: 35px;
      line-height: 40px;
    }
  }
}

// inside

main.content {
  max-width: 850px;
  margin: auto;

  @media @mobile {
    max-width: 100%;
    padding: 0px;
  }

  @media @tablet {
    margin: 15px;
  }
}

.intro {
  font-size: 23px;
  padding-bottom: 40px;
  max-width: 800px;
  width: 100%;
  margin: auto;

  a {
    color: @df-charcoal;
    font-weight: bold;

    &:hover {
      color: @df-middle-gray
    }
  }

  @media @mobile {
    font-size: 16px;
    padding-bottom: 40px;
  }

}

.dates-goals{
  font-family: @df-sans;
}

.jump-to {
  font-family: @df-sans;
  text-align: center;
  color: @df-charcoal;
  padding-bottom: 10px;

  ul {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-left: 0px;

    @media @mobile {
      margin-left: 20px;
      margin-right: 20px;
      .pipe {
       display: none;
      }
    }

    li {
      float: left;
      padding-top: 30px;
      font-size: 18px;

      a {
        color: @df-charcoal;

        &:hover {
          color: @df-middle-gray;
          font-weight: bold;
        }

        @media @mobile {
          font-size: 17px;
        }
      }
    }
  }
}

.checklist {
  max-width: 800px;
  margin: auto;

  @media @mobile {
    display: block;
  }

  .filter-container {
    .display-flex();
    .flex-wrap(wrap);

  h2 {
    margin-right: auto;

    @media @mobile {
      display: block;
      padding-bottom: 10px;
  }

  select {
    @media @mobile {
      display: block;
    }
  }

  }


  }

  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    font-size: 28px;
  }

  ol {
    list-style-type: none;
    font-size: 18px;
    padding-left: 0px;

    li {
      padding: 35px 70px 35px 70px; // resizes goal

      @media @mobile {
        padding: 20px;
      }

      &.update {
        padding:  25px 0px; // resizes update field

        @media @mobile {
          padding: 20px 0px 20px 0px;
        }
      }

      ul {
        padding: 0px;
      }
    }
  }

  .checklist-key{
    .display-flex();
    .flex-wrap(wrap);
    padding-top: 20px;
    .justify-content(space-between);

    .incomplete {
      margin-right: auto;
    }

  }

  .checklist-key ul {
    list-style-type: none;

    li {
      padding: 0px;
    }
  }

  // .checklist-key-mobile {
  //   display: none;

  //   @media @mobile {
  //     display: block;
  //   }
  // }

  .plan-filter {
    display: none;

    & + label {
      font-size: 15px;
      border: .3px solid @df-light-gray;
      padding: 8px 8px;
      cursor: pointer;
      border-radius: 5px;
      margin-right: 10px;
      margin-bottom: 10px;


    @media @mobile {
      .flex(0 0 45%);
      padding: 4px;
      text-align: left;

      .text {
        padding-right: 0px;
      }
    }
  }

    &:checked + label {
      background-color: @df-light-gray;
      cursor: pointer;
    }
  }
}

.light-caps {
  font-family: @df-sans;
  color: @df-charcoal;
  padding-top: 25px;
  margin: 0px 60px;
  font-size: 16px;

  @media @mobile {
    margin: 0px 30px;
  }
}

// action plan switch tab styles

label {
  font-size: 17px;
}


// action plan list

.label-container {

  .category-label {
    font-family: @df-serif;
    font-size: 33px;
    font-weight: bold;
    color: @df-charcoal;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 1;
    margin: 30px 0px 0px 0px;

    @media @mobile {
      font-size: 30px;
    }

    // &.government {
    //   margin: 30px 0px 25px 0px;
    // }

    .material-icons {
      // background-color: @df-light-gray;
      font-size: 30px;
      color: @df-charcoal;
      padding: 15px;
      border-radius: 5%;
      // margin-bottom: 20px;
    }
  }
}

.hidden {
    display: none;
}

.plan-item {
  padding: 8px 10px 16px;
  border-bottom: 1px solid @df-light-gray;
  font-size: 20px;
  margin-bottom: 10px;
  .display-flex();

  @media @mobile {
    font-size: 18px;
  }

  &.hidden {
    display: none;
  }

  header {
    display: block;
  }

  // &:nth-child(2n) {
  //   background: darken(@df-off-white, 1%);
  // }

  ul li {
    list-style-type: none;
  }



}

// key for actions list
  
.cal {
  font-family: @df-sans;
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.actions-key li {
  display: inline-block;
  margin-right: 40px;

  @media @mobile {
    padding: 0px;
    margin-right: 30px;

  }
}

.actions-key-container {
  margin: 0px 41px;

  @media @mobile {
    margin: 0px 12px;
  }
}

.actions-key{
  margin-top: 3px;
  margin-bottom: 0px;
}

// actions list
.actions {
  font-size: 16px;
  font-family: @df-sans;

  .narrow {
    max-width: 700px;
    margin: auto;
  }

  .day-no {
    .display-flex();
    padding: 8px 4px 16px;
    border-top: 1px solid @df-light-gray;

    @media @mobile {
      display: block;
    }

    .actionDay {
      font-size: 13px;
      padding-top: 5px;
      font-weight: normal;
    }

    .actions-list {
      margin: 0px;
      width: 100%;
      list-style-type: none;
    }

    .actions-list ul {
      max-width: 100%;
    }

    &:nth-child(2n) {
      background: darken(@df-off-white, 5%);
    }

    h3 {
      .flex(0 0 100px);
      padding-left: 10px;
      margin: 0px;

      @media @mobile {
        padding-left: 0;
      }
    }

    a {
      // font-size: 13px;
      font-weight: bold;
      color: @df-middle-gray;
      padding-left: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.read-more {
  font-weight: bold;
  text-align: right;
  margin-top: 5px;
  padding-bottom: 5px;
  font-style: normal;
  font-size: 16px;

  @media @mobile {
    font-size: 15px;
  }
  
  a {
    color: @df-charcoal;

    &:hover {
      color: @df-middle-gray;
    }
  }
}


.update {
  font-style: italic;
  text-indent: 0px;
  font-size: 18px;
  color: @df-dark-gray;

  @media @mobile {
     font-size: 16px; 
  }

  .update-label {
    border-radius: 1px;
    padding: 5px 5px 5px 0px;
    // text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
  }

  .update-summary {
    padding-top: 3px;
  }

  .related {
    font-style: normal;
    color: @df-dark-gray;
    margin-top: 30px;
    padding: 10px;
    background-color: @df-off-white;

    .related-label {
      font-weight: bold;
    }

    a {
      color: @df-dark-gray;

      &:hover {
        color: @df-middle-gray;
        font-weight: bold;
      }
    }
  }
}

.to-top {
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  font-family: @df-sans;
  padding-top: 20px;
  padding-bottom: 25px;

  a {
    color: @df-charcoal;
    text-decoration: none !important;

    &:hover {
      color: @df-middle-gray;
    }
  }
}

hr {
  &:last-of-type {
    margin-bottom: 40px;
  }
}

ul.calendar-legend li{
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 4px;
  padding-left: 60px;
  font-family: @df-sans;
  font-size: 16px;
}

ul.events, ul.key {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 4px;
}

ul.key {
  padding: 8px 26px 16px;
}

.event {
  font-size: 18px;
  clear: left;
  @icon-size: 20px;
  padding-right: 10px;

  @media @mobile {
    font-size: 16px;
  }

  .icon {
        border-radius: 100%;
        display: inline-block;
        vertical-align: text-top;
        width: @icon-size;
        height: @icon-size;
        background: black;
        content: "";
        background-size: @icon-size @icon-size;
        font-size: 20px;
        margin-right: 4px;

        @media @mobile {
          width: 15px;
          height: 15px;
        }
  }

  &.completed .icon {
    background-color: @kept-color;
  }

  &.developing .icon {
    background-color: @developing-color;
  }

  &.broken .icon {
    background-color: @broken-color;
  }

  &.incomplete .icon {
    background-color: #FFFFFF;
    border: .5px solid @df-charcoal;
  }

  &.stymied .icon {
    background-color: @stuck-color;
  }
}

select {
  font-size: 16px;

  @media @mobile {
    width: 100%;
  }
}

//bottom
.credits, .sources {
  font-family: @df-sans;
  font-size: 0.8em;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  .credit-name {
    font-weight: 700;
  }
}
