@import "seattletimes";

//header

.top-header {
  border-bottom: 3px solid #000000;
  background-image: url("http://placekitten.com/g/1280/250");
  padding-left: 40px;
  padding-top: 15px;
}

.large {
  font-family: @df-serif;
  font-size: 45px;
  line-height: 50px;
  color: #FFFFFF;
}

.largest {
  font-family: @df-serif;
  font-size: 200px;
  line-height: 130px;
  color: #FFFFFF;
}

// inside

.dates-goals{
  .display-flex();
}

.checklist {
  .flex(0 50 80%);
  font-family: @df-sans;
  padding-left: 50px;

  @media @mobile {
    display: block;
  }
}

.checklist h2 {
  margin-top: 0px;
}

.checklist ol {
  list-style-type: none;
  font-size: 18px;
  padding-left: 0px;

}

.calendar {
  .flex(50 1 20%);

  .page {
    .display-flex();
    .flex-wrap(wrap);
    width: 100%;

    .day {
      text-align: center;
      .flex(0 0 100% / 7)
    }
  }

  font-family: @df-sans;


  @media @mobile {
    display: block;
  }
}

.month {
  margin: 10px 0px;
  font-size: 16px;
  text-transform: uppercase;
  color: @df-middle-gray;
}


.innerbox {
  padding: 15px 100px;
}

// actions list
.actions {
  font-size: 16px;
  font-family: @df-sans;

  .day-no {
    .display-flex();
    padding: 8px 4px 16px;
    border-top: 1px solid @df-light-gray;

    @media @mobile {
      display: block;
    }

    .actions-list {
      margin: 0px;
    }

    &:nth-child(2n) {
      background: darken(@df-off-white, 5%);
    }

    h3 {
      .flex(0 0 100px);
      padding-left: 10px;
      margin: 0px;

      @media @mobile {
        padding-left: 0;
      }
    }
  }
}