@import "seattletimes";

@import "calendars";

@import "progress-bar";

.large {
  font-family: @df-serif;
  font-size: 30px;
  line-height: 30px;
  color: @df-charcoal;
  text-align: center;

  @media @mobile {
    font-size: 20px;
    line-height: 25px;
  }
}

.headline {
  font-family: @df-serif;
  font-size: 70px;
  line-height: 80px;
  color: @df-charcoal;
  text-align: center;
  margin-bottom: 30px;

  @media @mobile {
    font-size: 35px;
    line-height: 40px;
  }
}

// inside

main.content {
  max-width: 800px;
  margin: auto;

  @media @mobile {
    max-width: 100%;
    padding: 0px;
  }

  @media @tablet {
    margin: 15px;
  }
}

.intro {
  font-size: 20px;
  padding-bottom: 40px;
  max-width: 700px;
  width: 100%;
  margin: auto;

  a {
    color: @df-blue;

    &:hover {
      text-decoration: underline;
    }
  }

  @media @mobile {
    font-size: 16px;
    padding-bottom: 40px;
  }

}

.dates-goals{
  font-family: @df-sans;
}

.jump-to {
  font-family: @df-sans;
  text-align: center;
  color: @df-charcoal;
  padding-bottom: 10px;

  ul {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-left: 0px;

    @media @mobile {
      margin-left: 20px;
      margin-right: 20px;
      .pipe {
       display: none;
      }
    }

    li {
      float: left;
      padding: 8px;
      font-size: 16px;

      a {
        color: @df-charcoal;

        &:hover {
          color: @df-charcoal;
          font-weight: bold;
        }

        @media @mobile {
          font-size: 16px;
        }
      }
    }
  }
}

.checklist {
  max-width: 700px;
  margin: auto;

  @media @mobile {
    display: block;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
  }

  ol {
    list-style-type: none;
    font-size: 18px;
    padding-left: 0px;
  }

  .checklist-key{
    .display-flex();
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;

    .incomplete {
      margin-right: auto;

      @media @mobile {
        margin: 0px;
      }
    }

  }

  .checklist-key ul {
    list-style-type: none;

    li {
      padding: 0px; 
    }
  }

  .checklist-key-mobile {
    display: none;

    @media @mobile {
      display: block;
    }
  }

  .plan-filter {
    display: none;

    & + label {
      font-size: 15px;
      border: .3px dotted @df-light-gray;
      padding: 8px 10px;
      cursor: pointer;
      border-radius: 5px;


    @media @mobile {
      .flex(1 1 50%);
      padding: 10px 0px;
      text-align: center;
    }

      // @media @mobile {
      //   .text { display: none }
      // }
    }

    &:checked + label {
      font-weight: bold;
      background-color: @df-light-gray;
      cursor: pointer;
    }
  }
}

.light-caps {
  font-family: @df-sans;
  color: @df-charcoal;
  padding-top: 25px;
  margin: 0px 60px;
  font-size: 16px;

  @media @mobile {
    margin: 0px 30px;
  }
}

// action plan switch tab styles

label {
  font-size: 17px;
}


.fa-check-square {
  color: @st-green;
}

.fa-times {
  color: @st-dark-red;
}

// action plan list
.plan-item {
  padding: 8px 4px 16px;
  border-top: 1px solid @df-light-gray;
  font-size: 16px;

  &.hidden {
    display: none;
  }

  header {
    display: block;
  }

  .category-label {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: @df-dark-gray;
    margin-bottom: 10px;
    display: inline-block;
    // min-width: 150px;
    line-height: 1;
  }

  // &:nth-child(2n) {
  //   background: darken(@df-off-white, 5%);
  // }

  .fa-check-square {
    color: @st-green;
  }
}

i {
  font-size: 17px;
}

// key for actions list
  
.cal {
  font-family: @df-sans;
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.actions-key li {
  display: inline-block;
  margin-right: 40px;

  @media @mobile {
    padding: 0px;
    margin-right: 30px;

  }
}

.actions-key-container {
  margin: 0px 41px;

  @media @mobile {
    margin: 0px 12px;
  }
}

.actions-key{
  margin-top: 3px;
  margin-bottom: 0px;
}

// actions list
.actions {
  font-size: 16px;
  font-family: @df-sans;

  .narrow {
    max-width: 700px;
    margin: auto;
  }

  .day-no {
    .display-flex();
    padding: 8px 4px 16px;
    border-top: 1px solid @df-light-gray;

    @media @mobile {
      display: block;
    }

    .actionDay {
      font-size: 13px;
      padding-top: 5px;
      font-weight: normal;
    }

    .actions-list {
      margin: 0px;
      width: 100%;
      list-style-type: none;
    }

    .actions-list ul {
      max-width: 100%;
    }

    &:nth-child(2n) {
      background: darken(@df-off-white, 5%);
    }

    h3 {
      .flex(0 0 100px);
      padding-left: 10px;
      margin: 0px;

      @media @mobile {
        padding-left: 0;
      }
    }

    a {
      // font-size: 13px;
      font-weight: bold;
      color: @df-middle-gray;
      padding-left: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .update {
    padding-top: 12px;
    font-style: italic;
    text-indent: 0px;

    a {
      font-size: 14px;
    }
  }
}

.to-top {
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: @df-sans;
  padding-top: 20px;
  padding-bottom: 25px;

  a {
    color: @df-charcoal;
    text-decoration: none !important;

    &:hover {
      color: @df-middle-gray;
    }
  }
}

ul.calendar-legend li{
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 4px;
  padding-left: 60px;
  font-family: @df-sans;
  font-size: 16px;
}

ul.events, ul.key {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 4px;
}

ul.key {
  padding: 8px 26px 16px;
}

.event {
  font-size: 16px;
  clear: left;
  @icon-size: 14px;
  text-indent: -@icon-size - 8px;
  padding-bottom: 18px;

  @media @mobile {
    // padding-left: @icon-size * 2;
    padding-top: 18px;
  }

  .icon {
    border-radius: 100%;
    display: inline-block;
    vertical-align: text-top;
    width: @icon-size;
    height: @icon-size;
    background: black;
    content: "";
    background-size: @icon-size @icon-size;
    margin-right: 4px;
    margin-top: 2px;
    font-size: 19px;
  }

  &.complete .icon {
    background-color: @st-green;
  }

  &.progress .icon {
    background-color: @st-light-orange;
  }

  &.broken .icon {
    background-color: @st-dark-red;
  }

  &.incomplete .icon {
    background-color: #FFFFFF;
    border: .5px solid @df-charcoal;
  }
}

select {
  height: 30px;
}
