<%
var moment = require("moment");
var quotable = text => text.replace(/'/g, "&rsquo;");

%><!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>


    <header class="title">
      <img src="./assets/trump100.jpg">

      <h1 class="headline">Trump&rsquo;s first 100 days</h1>
    </header>

    <main class="content">

    <section class="introduction">
      <p class="intro">
        President Donald Trump has hit his 100th day in office. We&rsquo;ve tracked the statuses of his promises, outlined in his <a href="https://assets.donaldjtrump.com/CONTRACT_FOR_THE_VOTER.pdf">&ldquo;Contract with the American Voter,&rdquo;</a> and how they may affect the Pacific Northwest, especially Washington.

        <!-- As of today, President Donald Trump has been in office for <b><span class="currentDay"></span> days</b>. We're tracking the statuses of promises outlined in his <a href="https://assets.donaldjtrump.com/CONTRACT_FOR_THE_VOTER.pdf">"Contract with the American Voter,"</a> which contains his plan for his first 100 days in office. He has <b><span class="days-remaining"></span> days</b> remaining in this period. --></p>
    </section>

    <section class="progress-bar">

      <%
        var progressByStatus = {};
        var statusCount = 0;
        json.goals.forEach(function(g) {
        var stat = g.promise_status;
        if (!stat) return;
        if (!progressByStatus[stat]) progressByStatus[stat] = 0;
        if (stat) {
          progressByStatus[stat]++;
          if (stat !== "none") statusCount++;
          }
        });
      %>

      <div class="bar-label">Status of Trump's promises</div>
      <div class="bar-container">
        <div class="completed" style="width: <%= (statusCount / json.goals.length * 100).toFixed(2) %>%">
          <% for (var s in progressByStatus) { 
            if (s !== "none") {%>
              <div
                style="width: <%= (progressByStatus[s] / statusCount * 100).toFixed(2) %>%"
                class="bar <%= s.toLowerCase() %>"
              ></div><% } 
            } %>
        </div>
      </div>

      <!-- legend -->
      <div class="legend">
        <ul class="legend-key">
          <% for (var s in progressByStatus) { %>
          <li class="status-legend <%= s.toLowerCase() %>">

          <div class="quantity"> <%= progressByStatus[s] %> </div>

            <div class="status-title">
              <% if (s == "none"){ %> 
                No action <% }
                else { %>
                <%= s %>
                <% } %>
              </div>

          </li>
          <% } %>
        </ul>
      </div>

    </section>

        <%
        var byDay = {};
        json.daily.forEach(function(row) {
          if (!byDay[row.day]) {
            byDay[row.day] = [];
          }
          byDay[row.day].push(row);
        });
        %>

      <div>
        <nav class="jump-to">
          <ul>
            <li><a href="http://www.seattletimes.com/nation-world/nation-politics/"><i class="fa fa-external-link" aria-hidden="true"></i> Read all of our politics coverage</a></li>
          </ul>
        </nav>
      </div>

      <section class="dates-goals">

        <div class="checklist narrow" id="action-plan">
          <h2>100-day action plan</h2>

          <nav class="checklist-key">
            <input type="checkbox" class="plan-filter" id="completed">
            <label for="completed">
              <span class="text event completed"><i class="icon"></i> Promise kept</span>
            </label> 

            <input type="checkbox" class="plan-filter" id="broken">
            <label for="broken" class="broken">
              <span class="text event broken"><i class="icon"></i> Promise broken</span>
            </label>

            <input type="checkbox" class="plan-filter" id="developing">
            <label for="developing">
              <span class="text event developing"><i class="icon"></i> Developing</span>
            </label>  

            <input type="checkbox" class="plan-filter" id="stymied">
            <label for="stymied" class="stymied">
              <span class="text event stymied"><i class="icon"></i> Stymied</span>
            </label>           
            
            <input type="checkbox" class="plan-filter" id="incomplete">
            <label for="incomplete" class="incomplete">
              <span class="text event incomplete"><i class="icon"></i> No action</span>
            </label>


            <!-- dropdown menu for categories -->

            <!-- creates an array with categories -->
            <% 
              var categories = [];

              function isInArray(categories, cat_title) {
                return categories.indexOf(cat_title) > -1;
              }

              json.goals.forEach(function(k) { 
                var cat_title = k.category;
                if (!isInArray(categories, cat_title)) {
                  categories.push(cat_title);
                }
              }) %>


            <select class="topics">
              <option value="">Filter by category</option>

              <% for (var i=0; i < categories.length; i++) { %>
                <option value=<%= categories[i] %>>
                  <%= categories[i] %>
                </option>
              <% } %>

            </select>
            <!-- end of menu -->

          </nav>

            <%
            var itemsByCat = {}
            json.goals.forEach(function(g) {
              if (!itemsByCat[g.category]) itemsByCat[g.category] = [];
              itemsByCat[g.category].push(g);
              g.progress = "";
              var promisedProgress = {
                kept: "completed",
                none: "incomplete"
              };

              g.progress = promisedProgress[g.promise_status] || g.promise_status;
            });

            Object.keys(itemsByCat).forEach(function(c) { %>

            <ol data-topic="<%= c %>">

              <header class="label-container">
                  <div class="category-label <%= c.toLowerCase() %>">
                    
                    <% var icons = {
                      Government: "gavel",
                      Trade: "directions_boat",
                      Energy: "lightbulb_outline",
                      Environment: "local_florist",
                      Immigration: "business_center",
                      Economy: "account_balance",
                      Education: "school",
                      "Health care": "local_hospital",
                      Crime: "directions_car",
                    } %>

                    <!-- finding out which icon to place -->
                    <i class="material-icons">
                      <%= icons[c] %>
                    </i>


                    <!-- icon section ends -->

                    <div><%= c %></div> <!-- prints out category -->
                  </div>
                </header>

              <% itemsByCat[c].forEach(function(k) {
                
                %>
                <li class="plan-item" data-progress="<%= k.progress %>">
                  <div class="text event <%= k.progress %>">
                    <i class="icon"></i>
                  </div>
                  
                  <div class="goal-updates">
                    <b><%= quotable(k.goal) %></b> 

                    <ul>
                      <% if (k.summary) { %>
                        <li class="update"><span class="update-label">
                          Update:</span>
                          <div class="update-summary"><%= quotable(k.summary) %></div>

                          <!-- Read more link -->
                          <div class="read-more">
                            <a href="<%=k.url%>"><i class="fa fa-external-link" aria-hidden="true"></i> READ MORE</a></div>
                        </li>
                      <% } %>

                    </ul>
                  </div>
                <% }) %>


          </li>


          </ol>

            <% }) %>

    </section>

    <div class="to-top"><a href="#action-plan">&uarr; Top</a></div>
    <hr>

    </main>


    <script>
    window.goals = <%= JSON.stringify(json.goals) %>;
    window.daily = <%= JSON.stringify(json.daily) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
