<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>


    <section class="title">
      <h1 class="largest">Trump's first 100 days</h1>
    </section>

    <main class="content">

    <section class="progress-bar">
 
      <%
        var progressByStatus = {};
        var statusCount = 0;
        json.goals.forEach(function(g) {
        var stat = g.promise_status;
        if (!stat) return;
        if (!progressByStatus[stat]) progressByStatus[stat] = 0;
        if (stat) {
          progressByStatus[stat]++;
          if (stat !== "none") statusCount++;
      }
      });

      %>

      <div class="bar-container">
        <div class="completed" style="width: <%= (statusCount / json.goals.length * 100).toFixed(2) %>%">
          <% for (var s in progressByStatus) { 
            if (s !== "none") {%>
              <div
                style="width: <%= (progressByStatus[s] / statusCount * 100).toFixed(2) %>%"
                class="bar <%= s.toLowerCase() %>"
              ></div><% } 
            } %>
        </div>
      </div>

      <div class="remaining"><span class="days-remaining"></span> days remaining</div>

      <!-- legend -->
      <div class="legend">
        <ul class="legend-key">
          <% for (var s in progressByStatus) { %>
          <li class="status-legend <%= s.toLowerCase() %>">

            <div class="status-title"> <%= s %> </div>
            
            <div class="quantity"> <%= progressByStatus[s] %> </div>

          </li>
          <% } %>
        </ul>
      </div>

    </section>

      <section class="introduction">
        <p class="intro">During the 2016 presidential campaign, Donald Trump released his <a href="https://assets.donaldjtrump.com/CONTRACT_FOR_THE_VOTER.pdf">"Contract with the American Voter."</a> The document, issued Oct. 22, contains his plan for his first 100 days in office. Here, we track which promises he has completed, when and if they were done by when he planned to.</p>
      </section>

        <%
        var byDay = {};
        json.daily.forEach(function(row) {
          if (!byDay[row.day]) {
            byDay[row.day] = [];
          }
          byDay[row.day].push(row);
        });
        %>

      <nav class="jump-to">
        <p><i class="fa fa-calendar" aria-hidden="true"></i> <a href="#day-by-day">A day-by-day look at Trump's actions</a></p>
      </nav>

      <section class="dates-goals">

        <div class="checklist narrow" id="action-plan">
          <h2>100-day action plan</h2>

          <nav class="checklist-key">
            <input type="checkbox" class="plan-filter" id="completed">
            <label for="completed">
              <i class="fa fa-check-square" aria-hidden="true"></i> 
              <span class="text">Completed</span>
            </label> 

            <input type="checkbox" class="plan-filter" id="in-progress">
            <label for="in-progress">
              <i class="fa fa-pencil" aria-hidden="true"></i> 
              <span class="text">In progress</span>
            </label> 
            
            <input type="checkbox" class="plan-filter" id="incomplete">
            <label for="incomplete">
              <i class="fa fa-square-o" aria-hidden="true"></i>
              <span class="text">Incomplete</span>
            </label>
          </nav>

          <ol>
            <% var lookup = {} %>
            <% json.goals.forEach(function(k) { %>
              <li class="plan-item" data-category="<%= k.day_completed ? "completed" : k.in_progress ? "in-progress" : "incomplete" %>">

                <header class="label-container">
                  <div class="category-label <%= k.category.toLowerCase() %>"><%= k.category%></div>
                </header>

                <% if (k.day_completed) { lookup[k.day_completed] = true; %>
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                <% } else if (k.in_progress) { lookup[k.in_progress] = true; %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% } else { %>
                  <i class="fa fa-square-o" aria-hidden="true"></i>
                <% } %>

                <%= k.goal %>

              <% if (k.day_completed) { %>
              (<a href="#day-<%= k.day_completed%>">Completed on Day <%= k.day_completed %></a>)
              <% } else if (k.in_progress) { %>
              (<a href="#day-<%= k.in_progress%>">Started process on Day <%= k.in_progress %></a>)
              <% }%>
            </li>
            <% }) %>
          </ol>

      </div>

    </section>

    <div class="to-top"><a href="#action-plan">&uarr; Top</a></div>
    <hr>

    <section class="day-calendar" id="day-by-day">
      <div class="instructions">
        <p class="light-caps">Click on a day to see what actions Trump took on that day.</p>
        <ul class="key events calendar-legend">
          <li class="event complete">
            <i class="icon"></i> = Completed a promise
          </li>
<!--           <li class="event progress">
            <i class="icon"></i> = Promise in progress
          </li> -->
        </ul>
      </div>
      <div class="calendar">

        <%= t.include("_calendar.html", { lookup, padding: 0, offset: 0, length: 31, ignored: 19, month: "january" }) %>

        <%= t.include("_calendar.html", { lookup, padding: 3, offset: 12, length: 28, ignored: 0, month: "february" }) %>

        <%= t.include("_calendar.html", { lookup, padding: 3, offset: 40, length: 31, ignored: 0, month: "march" }) %>

        <%= t.include("_calendar.html", { lookup, padding: 6, offset: 71, length: 30, ignored: 0, month: "april" }) %>

      </div>
    </section>

    <section class="actions">
      <div class="narrow">
        <h2>Day-by-day actions</h2>
        <ul class="actions-key">
          <li class="event complete">
            <i class="icon"></i> = Completed
          </li>
          <li class="event progress">
            <i class="icon"></i> = In progress
          </li>
        </ul>



        <% Object.keys(byDay).forEach(function(d) { 
          var actions = byDay[d]; %>

          <div class="day-no">
            <% if (d) { %>
              <h3 id="day-<%= d %>">Day <%= d %></h3>
            <% } %>

            <ul class="actions-list">
              <% actions.forEach(function(e) { %>
              <li class="event <%= e.status %>"> <i class="icon"></i> <%= e.summary %> 
                <% if (e.url) { %>
                <a href="<%= e.url %>"><%= e.link %></a>
                <% } %>
              </li>
              <% }) %>
            </ul>
          </div>
          <% }) %>
        </div>

      </section>
      <div class="to-top"><a href="#day-by-day">&uarr; Top</a></div>

    </main>

    <script>
    window.goals = <%= JSON.stringify(json.goals) %>;
    window.daily = <%= JSON.stringify(json.daily) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
